.blog{
	padding-top: 35px;
	@media (max-width: $screen-xs-max){
		padding-top: 30px;
	}


	&__search{
		padding-bottom: 45px;
		@media screen and (max-width: 1200px){
			text-align: center;
		}
	}
	::-webkit-input-placeholder {
		color:#b9bdbf;
		font-size: 20px;
		@media (max-width: $screen-xs-max){
			font-size: 16px;
		}
	}
	::-moz-placeholder {
		color:#b9bdbf;
		font-size: 20px;
		@media (max-width: $screen-xs-max){
			font-size: 16px;
		}
	}
	:-moz-placeholder {
		color:#b9bdbf;
		font-size: 20px;
		@media (max-width: $screen-xs-max){
			font-size: 16px;
		}
	}
	:-ms-input-placeholder {
		color:#b9bdbf;
		font-size: 20px;
		@media (max-width: $screen-xs-max){
			font-size: 16px;
		}
	}
	&__input{
		max-width: 650px;
		width: 100%;
		outline: none;
		border: none;
		min-height: 50px;
		padding-left: 15px;
		border: 1px solid #eff1f5;
		@media screen and (max-width: 1200px){
			margin-bottom: 20px;
		}
	}
	&__headings{
		width: 100%;
		max-width: 320px;
		display: inline-block;
		vertical-align: top;
		min-height: 50px;
		@media (max-width: $screen-xs-max){
			margin-bottom: 20px;
		}
		$background: #eff1f5;
		$select-color: #092033;
		$select-background: #eff1f5;
		$select-width: 100%;
		$select-height: 50px; 
		.select-hidden {
			display: none;
			visibility: hidden;
			padding-right: 10px;
		}
		.select {
			cursor: pointer;
			display: inline-block;
			position: relative;
			font-size: 20px;
			color: $select-color;
			width: $select-width;
			height: $select-height;
		}
		.select-styled {
			position: absolute; 
			top: 1px;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: $select-background;
			padding: 8px 15px;
			@include transition(all 0.2s ease-in);
			&:after {
				content: "\f107";
				font-family: "FontAwesome";
				width: 0;
				height: 0;
				border-color: $select-color transparent transparent transparent;
				position: absolute;
				top: 10px;
				right: 30px;
				font-size: 20px;
			}
			&:active, &.active {
				&:after {
					content: "\f106";
				}
			}
		}

		.select-options {
			display: none; 
			position: absolute;
			top: 100%;
			right: 0;
			left: 0;
			z-index: 999;
			margin: 0;
			padding: 0;
			list-style: none;
			background-color: darken($select-background, 5);
			li {
				margin: 0;
				padding: 12px 0;
				text-indent: 15px;
				border-top: 1px solid darken($select-background, 10);
				@include transition(all 0.15s ease-in);
				&:hover {
					color: $select-background;
					background: $select-color;
				}
				&[rel="hide"] {
					display: none;
				}
			}
		}
	}
	.submit{
		max-width: 162px;
		min-height: 50px;
		display: inline-block;
		font-size: 20px;	
		text-align: center;
		text-decoration: none;
	}
	&__content{
		max-width: 100%;
		padding: 20px 0 20px 20px;
		background-color: #eff1f5;
		margin-bottom: 20px;
		min-height: 300px;
		@media screen and (max-width: 1199px){
			padding: 20px;
		}
		@media (max-width: $screen-xs-max){
			padding: 15px 15px 30px 15px;
		}		
		&--content{
			background: none;
			padding: 0;
		}
	}
	&__img-wrap{
		min-height: 240px;
		max-width: 450px;
		width: 100%;
		&--img-wrap{
			max-width: 100%;
			width: 100%;
			@media (max-width: $screen-md-max){
				min-height: 200px;
			}
		}
		img{
			max-width: 100%;
		}
		@media (max-width: $screen-md-max){
			margin: 0 auto;
			padding-bottom: 20px;
		}
		@media (max-width: $screen-sm-max){
			text-align: center;
		}
		@media (max-width: $screen-xs-max){
			padding-bottom: 20px;
			width: 100%;
			max-width: 100%;
			min-height: auto;
		}
	}
	&__desc{
		@media (max-width: $screen-sm-max){
			padding-left: 30px;
			padding-right: 30px;
		}
		@media (max-width: $screen-xs-max){
			padding: 0;
		}
		h2{
			font-size: 20px;
			margin: 0;
			padding: 0;
			padding-bottom: 10px;
			font-weight: 600;
			@media (max-width: $screen-xs-max){
				font-size: 17px;		
			}
		}
		p{
			font-size: 18px;	
			padding-bottom: 20px;
			margin: 0;
			@media screen and (max-width: 1199px){
				br{	
					display: none;
				}
			}
			@media (max-width: $screen-xs-max){
				padding-bottom: 0;
				font-size: 16px;
				br{
					display: none;
				}
			}
		}
		ul{
			margin: 0;
			padding: 0;
			display: inline-block;
			@media (max-width: $screen-xs-max){
				padding-bottom: 20px;
			}
			li{
				font-size: 18px;
				color: #828282;
				list-style-type: none;
				display: inline-block;
				margin-right: 35px;			
				@media (max-width: $screen-sm-max){
					display: inline-block;
					margin-top: 15px;
				}	
				&:last-child{
					margin-rihgt: 0;
				}
				i{
					margin-right: 5px;
				}
			}
		}
		.submit{
			float: right;
			min-height: 30px;
			max-width: 160px;
			margin-right: 50px;
			@media screen and (max-width: 1199px){
				float: left;
				margin-top: 15px;
			}
		}
		&--desc{
			padding-top: 15px;
			@media (max-width: $screen-md-max){
				padding: 0;
			}
			p{
				display: inline-block;
				padding-bottom: 15px;
				line-height: 27px;				
				@media (max-width: $screen-xs-max){
					padding-bottom: 0;
				}
			}
		}
	}
	&__comm{
		margin-bottom: 30px;
		border-bottom: 1px solid #c0c1c4;		
		p{
			margin-right: 30px;
			@media (max-width: $screen-xs-max){
				margin-right: 0;
				padding: 0;
			}
		}
		@media (max-width: $screen-md-max){
			margin-bottom: 10px;
		}		
		ul{
			li{
				@media (max-width: $screen-xs-max){
					margin-top: 5px;
				}
			}
		}
	}
	&__choose{
		margin-bottom: 30px;
		border-bottom: 1px solid #eff1f5;
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style-type: none;
				display: inline-block;
				margin-right: 10px;
				@media (max-width: $screen-xs-max){
					display: block;
					text-align: center;
				}
				a{
					color: #828282;
					font-size: 18px;
					text-decoration: none;
					padding: 5px;
					transition: all .5s;
					display: block;
					&:hover{
						color: #092033;
						background-color: #eff1f5;
					}
					&:focus{
						color: #092033;
						background-color: #eff1f5;	
					}
				}
			}
		}
	}
}

