.contacts{
	min-height: 100vh;
	padding-top: 35px;
	.caption-wrap{
		margin-bottom: 35px;
	}


	.login{
		@media (max-width: $screen-sm-max){
			padding-bottom: 25px;
		}
		@media (max-width: $screen-xs-max){
			padding-bottom: 5px;
		}
		.input{
			margin: 2px auto;
		}
	}
	.submit{
		@media (max-width: $screen-sm-max){
			margin-top: 20px;
		}
	}

	&__map {
		margin-top: 40px;
		width: 100%;
		position: relative;
		text-align: left;
		padding-top: 90px;
		min-height: 460px;
		@media (max-width: $screen-xs-max) {
			padding: 0;
			margin: 0;
		}

		#map {
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
			min-height: 460px;
			@media (max-width: $screen-xs-max) {
				position: relative;
				height: 300px;
			}
		}
	}
}