@font-face {
	font-family: 'ProximaNova';
	src: url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Light';
	src: url('../fonts/ProximaNova-Light/ProximaNova-Light.eot'), url('../fonts/ProximaNova-Light/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light/ProximaNova-Light.ttf') format('truetype'), url('../fonts/ProximaNova-Light/ProximaNova-Light.eot?#iefix') format('embedded-opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNovaT-Thin';
	src: url('../fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.eot'), url('../fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.woff') format('woff'), url('../fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.ttf') format('truetype'), url('../fonts/ProximaNovaT-Thin/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot'), url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: 700;
	font-style: normal;
}
body{
	font-family: 'ProximaNova'
}

.index-wrap{
	background-image: url('../images/index_bg.png');
	background-repeat: no-repeat;
	background-position: bottom left;
	@media screen and (min-width: 1600px) and (max-width: 1630px){
		background-image: url('../images/index_bg-mini.png');
	} 
	@media screen and (max-width: 1599px){
		background-image: none;
	}	
}
.no-padding{
	padding: 0;
	@media screen and (max-width: 1200px){
		padding-left: 1.5px;
		padding-right: 1.5px;
	}
}

.caption-wrap{
	padding-bottom: 13px;
	border-bottom: 1px solid #c0c1c4;
	margin-bottom: 25px;
	@media (max-width: $screen-md-max){
		margin-bottom: 25px;
	}
	@media (max-width: $screen-xs-max){
		margin-bottom: 25px;
	}
	h2{
		font-size: 30px;
		margin: 0;
		padding: 0;
		font-family: 'ProximaNova';
		@media (max-width: $screen-xs-max){
			font-size: 25px;
		}
	}
	h1{
		font-size: 30px;
		margin: 0;
		padding: 0;
		font-family: 'ProximaNova';
		color: #000;
		@media (max-width: $screen-xs-max){
			font-size: 25px;
		}
	}
	ul{
		margin: 0;
		padding: 0;
		padding-top: 12px;
		li{
			list-style-type: none;
			display: inline-block;
			position: relative;
			margin-left: 25px;	
			font-size: 18px;
			color: #000;		
			font-family: 'ProximaNova';
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				&:hover{				
					cursor: no-drop;
				}
				&:after{
					content: '';
				}
			}
			&:after{
				position: absolute;
				content: '/';
				top: 50%;
				transform: translateY(-50%);
				right: -18px;
			}
			a{
				text-decoration: none;
				color: #000;		
				&:hover{
					color: #092033;
				}
			}
		}
	}
}

.connection__form-block{
	padding-top: 20px;
	@media (max-width: $screen-xs-max){
		padding-top: 0;
	}
	h2{
		font-size: 30px;
	}
	p{
		font-size: 19px;
		margin: 0;
		padding-bottom: 15px;
		font-family: 'ProximaNova';
		@media (max-width: $screen-xs-max){
			font-size: 16px;
		}
		&:first-child {
			padding-top: 20px;
		}
		&:last-child{
			padding-bottom: 0;
		}
	}
	.information{
		margin: 0;
		padding-bottom: 5px;
		a{
			text-decoration: none;
			color: #000;
			transition: all .5s;
			font-family: 'ProximaNova';
			font-weight: 400;
			font-size: 30px;
			&:hover{
				color: #6f6f6f;
			}
		}
	}
	ul{
		margin: 0;
		padding: 0;
		padding-top: 10px;
		@media (max-width: $screen-xs-max){
			padding-bottom: 30px;
		}
		li{
			list-style-type: none;
			font-size: 20px;
			padding-bottom: 12px;
			position: relative;
			margin-left: 25px;
			font-family: 'ProximaNova';
			@media (max-width: $screen-xs-max){
				font-size: 16px;
			}
			a{
				text-decoration: none;
				color: #000;
				transition: all .5s;
				&:hover{
					color: #6f6f6f;
				}
			}
			i{
				margin-right: 10px;
				font-size: 20px;
				position: absolute;
				left: -29px;
				top: 3px;
			}
			.fa-envelope-o{
				font-size: 16px;
			}
			.fa-mobile{
				left: -25px;
			}
			.fa-map-marker{
				left: -25px;				
			}
		}
	}
	.dev__bg-form{
		background-image: url('../images/form-bg.png');
		background-size: contain;
		min-height: 270px;
		background-repeat: no-repeat;
		background-position: bottom;
		@media (max-width: $screen-sm-max){
			display: none;
		}
	}
}
.login{
	::-webkit-input-placeholder {
		color:#6f6f6f;
		font-size: 18px;
		font-family: 'ProximaNova';
	}
	::-moz-placeholder {
		color:#6f6f6f;
		font-size: 18px;
	}
	:-moz-placeholder {
		color:#6f6f6f;
		font-size: 18px;
	}
	:-ms-input-placeholder {
		color:#6f6f6f;
		font-size: 18px;
	}
	.input{
		position: relative;
		width: 100%;
		margin: 0 0 10px auto;

		.fa-mobile{
			font-size: 23px;
		}
		span{
			position: absolute;
			display: block;
			color: #6f6f6f;
			top: 10px;
			font-size: 17px;
		}

		input, 
		textarea{
			max-width: 420px;			
			width: 100%;
			padding: 7px 5px 5px 25px;
			display: block;
			border: none;
			border-bottom: 1px solid #c0c1c4;
			transition: 0.5s ease-out;
			color: #6f6f6f;
			font-size: 20px;
			@media (max-width: $screen-sm-max){
				max-width: 100%;
			}
			&:focus{
				padding: 7px 5px 5px 10px;
				outline: 0;
				border-color: #092033;
			}
		}
		textarea{
			padding-top: 10px;
			&:focus{
				padding: 10px 5px 5px 10px;
				outline: 0;
				border-color: #092033;
			}
		}
	}

	.submit{
		background: transparent;
		border: 1px solid #092033;
		padding: 0;
		cursor: pointer;
		outline: 0;
		-webkit-appearance: none;
		display: block;
		position: relative;
		max-width: 230px;
		width: 100%;
		min-height: 42px;
		font-size: 24px;
		color: #092033;
		margin-top: 20px;
		box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		transform: translateZ(0);
		text-transform: uppercase;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-ms-transition: all 0.5s ease;
		transition: all 0.5s ease;
		&:hover, &:focus{
			color: #fff;
			box-shadow: 0px 10px 10px rgba( 9, 32, 51, 0.2 );
			background: #092033;
		}
		&:active {
			top: 0px;
			box-shadow: 0px 0px 0px rgba( 9, 32, 51, 0.0 );
			background: #092033;
			color: #fff;
		}
		@media (max-width: $screen-xs-max){
			margin: 0 auto;
			margin-top: 20px;
		}
	}

	.feedback{
		position: absolute;
		bottom: -5px;
		width: 100%;
		text-align: center;
		color: #fff;
		background: #2ecc71;
		padding: 10px 0;
		font-size: 14px;
		display: none;
		opacity: 0;

		&:before{
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: "";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(46, 204, 113, 0);
			border-bottom-color: #2ecc71;
			border-width: 10px;
			margin-left: -10px;
		}
	}
	a{
		display: block;
		padding-top: 15px;
		font-size: 14px;
		color: #6f6f6f;
		text-decoration: underline;
		text-decoration-color: #ccc;
		transition: all .5s;
		&:hover{
			color: #092033;
		}
		@media (max-width: $screen-xs-max){
			padding-bottom: 10px;
		}
	}
}
.submit{
	background: transparent;
	border: 1px solid #092033;
	padding: 0;
	cursor: pointer;
	outline: 0;
	-webkit-appearance: none;
	display: block;
	position: relative;
	width: 100%;
	top: 0;
	color: #092033;
	box-shadow: 0px 0px 0px rgba( 15, 165, 60, 0.1 );
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	font-family: 'ProximaNova';
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	&:hover, &:focus{
		color: #fff;
		box-shadow: 0px 10px 10px rgba( 9, 32, 51, 0.2 );
		background: #092033;
	}
	&:active {
		top: 0px;
		box-shadow: 0px 0px 0px rgba( 9, 32, 51, 0.0 );
		background: #092033;
		color: #fff;
	}
	@media (max-width: $screen-xs-max){
		margin: 0 auto;
	}
}

.pagination{
	width: 100%;
	max-width: 100%;
	padding-top: 65px;
	@media (max-width: $screen-xs-max){
		padding-top: 20px;
	}
	margin: 0;
	.nav-links {
		border-top: 1px solid #c0c1c4;
		padding-top: 20px;
		padding-bottom: 40px;
		@media (max-width: $screen-xs-max) {
			text-align: center;
			padding-top: 15px;
			padding-bottom: 20px;
		}

		.page-numbers {
			font-size: 20px;
			margin-right: 13px;
			color: #c0c1c4;
			background-color: #eff1f5;
			width: 40px;
			height: 40px;
			display: inline-block;
			text-align: center;
			line-height: 40px;
			text-decoration: none;
			transition: all .5s;
			&:last-child{
				margin-right: 0;
			}
			@media screen and (min-width: 491px) and (max-width: 570px)  {
				width: 32px;
				height: 32px;
				line-height: 32px;
			}
			@media screen and (min-width: 400px) and (max-width: 490px)  {
				width: 30px;
				height: 30px;
				line-height: 30px;	
				margin-right: 2px;			
			}
			@media screen and (min-width: 320px) and (max-width: 399px)  {
				width: 22px;
				height: 22px;
				line-height: 22px;	
				margin-right: 2px;			
				font-size: 16px;
			}
			&:nth-child(7){
				margin: 0;
			}
			&:hover {
				background: #092033;
				color: #fff;
			}
		}

		.current {
			background: #092033;
			color: #fff;
		}

		.dots {
			background-color: transparent;
			border: none;
			margin: 0;
			&:hover {
				background: none;
			}
		}

		.-prev {
			font-size: 18px;
			width: 30px;
			height: 30px;
			line-height: 27px;
			padding: 0;
			margin: 0;
			border: 1px #E8E9E9 solid;
			color: #E8E9E9;
			background-color: transparent;

			&:hover {
				background: #BBBBBB;
				color: #E9E9E9;
			}
		}

		.-next {
			font-size: 18px;
			width: 30px;
			height: 30px;
			line-height: 27px;
			padding: 0;
			margin: 0;
			border: 1px #E8E9E9 solid;
			color: #E8E9E9;
			background-color: transparent;

			&:hover {
				background: #BBBBBB;
				color: #E9E9E9;
			}
		}
	}
}


































































// 
div.tabs {
	background: #333;
	padding: 1em;
}



ul.tabNavigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.tabNavigation li {
	display: inline;
}

ul.tabNavigation li a {
	padding: 3px 9px;
	background-color: #666;
	color: #000;
	text-decoration: none;
}

ul.tabNavigation li a.selected,
ul.tabNavigation li a.selected:hover {
	background: #FFF;
	color: #000;
}

ul.tabNavigation li a:hover {
	background: #ccc;
	color: #000;
}

ul.tabNavigation li a:focus {
	outline: 0;
}

div.tabs div {
	padding: 5px;
	margin-top: 3px;
	border: 1px solid #FFF;
	background: #FFF;
}

div.tabs div h2 {
	margin-top: 0;
}
// 













@-webkit-keyframes gearA {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes gearA {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes gearB {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}
@keyframes gearB {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(-360deg);
		transform: rotate(-360deg);
	}
}


@-webkit-keyframes inM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}

@keyframes inM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@-webkit-keyframes outM {
	50% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(45deg);
	}
}

@keyframes outM {
	50% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@-webkit-keyframes inT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}

@keyframes inT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}

@-webkit-keyframes outT {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(9px) rotate(135deg);
	}
}

@keyframes outT {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(9px) rotate(0deg);
	}
	100% {
		transform: translateY(9px) rotate(135deg);
	}
}

@-webkit-keyframes inBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}

@keyframes inBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}

@-webkit-keyframes outBtm {
	0% {
		-webkit-transform: translateY(0px) rotate(0deg);
	}
	50% {
		-webkit-transform: translateY(-9px) rotate(0deg);
	}
	100% {
		-webkit-transform: translateY(-9px) rotate(135deg);
	}
}

@keyframes outBtm {
	0% {
		transform: translateY(0px) rotate(0deg);
	}
	50% {
		transform: translateY(-9px) rotate(0deg);
	}
	100% {
		transform: translateY(-9px) rotate(135deg);
	}
}

.mm-navbar {
	height: 83px;
	img{
		max-width: 100%;
		padding-top: 0;
	}
}


.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview {
	margin-top: 23px;
	i{
		display: none;
	}
}

.mm-right.mm-opening .mm-menu.mm-fx-menu-slide {
	z-index: 999999;
}
.mm-listview {
	font-size: 16px;
}	



























