.soz{
	padding-top: 30px;
	&__develop{
		padding-bottom: 25px;
	}
	&__develop-item{
		background-color: #eff1f5;
		text-align: center;
		padding-bottom: 15px;
		margin-top: 25px;
		h2{
			font-size: 20px;
			font-weight: 600;
			margin: 0;
			padding-top: 15px;
			padding-bottom: 20px;
			@media (max-width: $screen-xs-max){
				font-size: 18px;
			}
		}
		ul{
			margin: 0;
			padding: 0;
			padding-left: 100px;
			@media screen and (max-width: 1199px){
				padding-left: 40px;
			}
			@media (max-width: $screen-xs-max){
				padding: 0;
			}
			li{
				text-align: left;
				list-style-type: none;
				font-size: 20px;
				padding-bottom: 10px;
				@media (max-width: $screen-xs-max){
					padding-left: 15px;
				}
				span{
					font-weight: 600;
					i{
						padding-right: 15px;
					}
				}
			}
		}
		.submit{
			max-width: 220px;
			min-height: 42px;
			margin: 0 auto;
			text-decoration: none;
			line-height: 42px;
			font-size: 20px;
		}
	}
	&__img-wrap{
		max-width: 100%;
		position: relative;
		&:after{
			position: absolute;
			content: '';
			background-color: rgba(0,0,0,0.5);
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		img{
			width: 100%;
			max-width: 100%;
		}
	}
	&__advantages{
		text-align: center;
		padding: 30px 0;
		background-color: #eff1f5;
		min-height: 190px;
		i{
			font-size: 80px;
			color: #092033;
			line-height: 80px;
		}
		.icon-soz3{
			margin-right: 30px;
		}
		p{
			font-size: 20px;
			margin: 0;
		}
	}
	&__caption{
		font-size: 25px;
		font-weight: 600;
		border-bottom: 1px solid #c0c1c4;
		padding-bottom: 15px;
		padding-top: 25px;
		margin: 0;
	}
	&__desc{
		padding-top: 30px;
		h2{
			font-size: 20px;
			color: #092033;
			text-transform: uppercase;
			font-weight: 600;
			margin: 0;
			padding-bottom: 30px;
			padding-top: 30px;
		}
		p{
			font-size: 20px;
			margin: 0;
			line-height: 26px;
		}
	}
	&__desc-img-wrap{
		width: 100%;
		max-width: 500px;
		margin: 0 auto;
		min-height: 350px;
		width: 100%;	
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		img{
			width: 100%;
			max-width: 100%;
		}
	}
	&__etaps{
		p{
			font-size: 20px;
			margin: 0;
			padding: 20px 0;
		}
	}
}